.src-containers-AppContainer-style__container-YhYCE {
  z-index: 90;
  overflow: hidden;
  height: 100vh;
  background-color: #2C2F31;
  position: relative;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%; }
.src-components-Header-style__container-1PQh3 .src-components-Header-style__title-2RaVm {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 150px;
  height: auto;
  font-family: 'ProximaNovaRegular';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  text-transform: uppercase;
  color: #D1D1D1; }

.src-components-Header-style__container-1PQh3 ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0px;
  padding: 0px; }
  .src-components-Header-style__container-1PQh3 ul li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)}";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6; }
    .src-components-Header-style__container-1PQh3 ul li:hover {
      background: #070707;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
    .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J {
      width: 24px;
      height: 24px;
      margin: 13px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__home-2xP4- {
        background-image: url(images/icon_home-1Z0BD.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__homeActive-3TZbe {
        background-image: url(images/icon_home_a-UDE_g.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__works-2UrWU {
        background-image: url(images/icon_works-3w4Io.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__worksActive-1e-Bf {
        background-image: url(images/icon_works_a-2Jcf2.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__github-3UTtN {
        background-image: url(images/icon_github-YndxR.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__githubActive-1N1cK {
        background-image: url(images/icon_github_a-MOTg2.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__message-3A9Pw {
        background-image: url(images/icon_message-3l7eA.png); }
      .src-components-Header-style__container-1PQh3 ul li .src-components-Header-style__icon-2R66J.src-components-Header-style__messageActive-2Kt5E {
        background-image: url(images/icon_message_a-1nEuM.png); }

.src-components-Header-style__container-1PQh3 .src-components-Header-style__logo-2sOz5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background: #070707;
  text-align: center; }
  .src-components-Header-style__container-1PQh3 .src-components-Header-style__logo-2sOz5 .src-components-Header-style__icon-2R66J {
    width: 30px;
    height: 37px;
    background-image: url(images/logo-wv3Kq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 6px; }

@media screen and (orientation: landscape) {
  .src-components-Header-style__container-1PQh3 {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50px;
    background: #1A1A1A; }
    .src-components-Header-style__container-1PQh3 .src-components-Header-style__title-2RaVm {
      position: absolute;
      top: 210px;
      left: 7px;
      text-align: right;
      height: auto;
      text-transform: uppercase;
      transform: rotate(-90deg);
      transform-origin: left top 0; }
  ul {
    flex-direction: column; } }

@media screen and (max-height: 600px) and (orientation: landscape) {
  .src-components-Header-style__container-1PQh3 ul {
    justify-content: flex-end; } }

@media screen and (max-height: 400px) and (orientation: landscape) {
  .src-components-Header-style__container-1PQh3 .src-components-Header-style__title-2RaVm {
    display: none; } }

@media screen and (orientation: portrait) {
  .src-components-Header-style__container-1PQh3 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    height: 50px;
    background: #1A1A1A; }
    .src-components-Header-style__container-1PQh3 .src-components-Header-style__title-2RaVm {
      position: absolute;
      top: 7px;
      left: 60px;
      text-align: left;
      height: auto;
      text-transform: uppercase; }
  ul {
    flex-direction: row; } }

@media screen and (max-width: 600px) and (orientation: portrait) {
  .src-components-Header-style__container-1PQh3 ul {
    justify-content: flex-end; } }

@media screen and (max-width: 400px) and (orientation: portrait) {
  .src-components-Header-style__container-1PQh3 .src-components-Header-style__title-2RaVm {
    display: none; } }
.src-components-MainPage-style__container-aRKax {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(269deg, #35433f, #28302e, #382235, #3d4569, #37522f);
  background-size: 1000% 1000%;
  -webkit-animation: src-components-MainPage-style__AnimationName-re0Fq 59s ease infinite;
  -moz-animation: src-components-MainPage-style__AnimationName-re0Fq 59s ease infinite;
  -o-animation: src-components-MainPage-style__AnimationName-re0Fq 59s ease infinite;
  animation: src-components-MainPage-style__AnimationName-re0Fq 59s ease infinite; }

@-webkit-keyframes src-components-MainPage-style__AnimationName-re0Fq {
  0% {
    background-position: 0% 53%; }
  50% {
    background-position: 100% 48%; }
  100% {
    background-position: 0% 53%; } }

@-moz-keyframes src-components-MainPage-style__AnimationName-re0Fq {
  0% {
    background-position: 0% 53%; }
  50% {
    background-position: 100% 48%; }
  100% {
    background-position: 0% 53%; } }

@keyframes src-components-MainPage-style__AnimationName-re0Fq {
  0% {
    background-position: 0% 53%; }
  50% {
    background-position: 100% 48%; }
  100% {
    background-position: 0% 53%; } }

@-o-keyframes src-components-MainPage-style__AnimationName-re0Fq {
  0% {
    background-position: 0% 53%; }
  50% {
    background-position: 100% 48%; }
  100% {
    background-position: 0% 53%; } }
  .src-components-MainPage-style__container-aRKax .src-components-MainPage-style__logo-1FJls {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)}";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
    width: 200px;
    height: 200px;
    background-image: url(images/logo--nM5S.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px; }

@media screen and (orientation: landscape) {
  .src-components-MainPage-style__container-aRKax {
    position: absolute;
    left: 50px;
    top: 0px; } }

@media screen and (orientation: portrait) {
  .src-components-MainPage-style__container-aRKax {
    position: absolute;
    left: 0px;
    top: 50px; } }
.src-components-PortfolioPage-style__container-2eVkA {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; }
  .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__commercial-3VSG8 {
    z-index: 100;
    position: relative;
    flex: 1;
    padding-bottom: 26px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__commercial-3VSG8 .src-components-PortfolioPage-style__icon-1JgiO {
      margin-top: 2px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(images/icon_commercial-2OZ3H.png); }
  .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__opensource-qO7YV {
    z-index: 101;
    position: relative;
    flex: 1;
    background: #323E38;
    padding-bottom: 26px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__opensource-qO7YV .src-components-PortfolioPage-style__icon-1JgiO {
      margin-top: 2px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(images/icon_opensource-FNK6p.png); }
  .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__title-sRRH5 {
    margin-left: 22px;
    margin-top: 24px;
    min-width: 300px;
    width: 100%;
    position: relative; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__title-sRRH5 h1 {
      margin: 0px;
      margin-left: 12px;
      display: inline-block;
      vertical-align: top;
      font-family: 'ProximaNovaRegular';
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 23px;
      color: #D1D1D1; }
  .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__expand-21OU2 {
    position: absolute;
    right: 22px;
    top: 26px;
    max-width: 72px;
    min-height: 22px;
    height: auto;
    background: transparent;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #C4C4C4;
    cursor: pointer;
    outline: none;
    padding: 5px 8px; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__expand-21OU2:hover {
      border-color: #D1D1D1;
      color: #D1D1D1; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__expand-21OU2 .src-components-PortfolioPage-style__icon-1JgiO {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(images/icon_expand-3uatv.png); }
  .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__collapsed-1K0Pi {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    min-width: 68px;
    width: 68px;
    flex: 0;
    cursor: pointer; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__collapsed-1K0Pi .src-components-PortfolioPage-style__title-sRRH5 h1 {
      position: absolute;
      left: -15px;
      top: 342px;
      width: 300px;
      text-align: right;
      transform: rotate(-90deg);
      transform-origin: left top 0; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__collapsed-1K0Pi .src-components-PortfolioPage-style__expand-21OU2 {
      display: none; }

@media screen and (max-width: 800px) {
  .src-components-PortfolioPage-style__container-2eVkA {
    flex-direction: column; }
    .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__commercial-3VSG8, .src-components-PortfolioPage-style__container-2eVkA .src-components-PortfolioPage-style__opensource-qO7YV {
      flex: 0; } }

@media screen and (orientation: landscape) {
  .src-components-PortfolioPage-style__container-2eVkA {
    position: absolute;
    left: 50px;
    top: 0px; } }

@media screen and (orientation: portrait) {
  .src-components-PortfolioPage-style__container-2eVkA {
    position: absolute;
    left: 0px;
    top: 50px; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5idW5kbGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/